*.exe
*.synctex.gz
*.zip
src/cmake-build-mingwrelease
src/cmake-build-mingwdebug/CMakeFiles
src/cmake-build-cygwinrelease
src/cmake-build-cygwindebug
*.o
*.dot
*.xml
loop.c
test.c
BFS.c
PerformanceModelling/
Seminar/
mbuild/
xed/
cmake-build-debug/
.idea/
*.aux
*.blg
*.bbl
*.snm
*.vrb
*.toc
*.sty
*.log
*.nav
*.out
*.pdf

